body{
	margin: 1%;
	padding: 0;
	font-family:Roboto, Helvetica, Arial, DejaVu Sans, Liberation Sans, Freesans, sans-serif !important;
	color:#4d4d4d
}

.topo{
	width: 100%;
}
.logo{
	width: 20%;
	text-align: center;
	float: none;
}
.titulo{
	text-align: center;
}
.respostas{
	margin: 5px;
	font-family: Roboto, Helvetica, Arial, DejaVu Sans, Liberation Sans, Freesans, sans-serif !important;
}
label{
	width: 100%
	margin:6px;
}
textarea {
  background: transparent;
  border: 0;
  text-align: none;
  width: 100%;
  max-width: 100%;
  margin:  6px;
}
button{
	background-color: #00aadd;
	color: #FFF;
	border-radius: 5px;
	height: 30px;
	border-color: #00aadd;
	font-family: Roboto, Helvetica, Arial, DejaVu Sans, Liberation Sans, Freesans, sans-serif !important;
	margin: 3px;
}
button:hover{
	background-color:#1C86EE;
	cursor: pointer;
}